$primaryColor : #afa339;
$primaryDark : #2f323b;
$primaryLight : #eff6ff;

$secondaryColor : #2f323b;
$secondaryLight : #e9fff7;
$randomColor : #d8c83d;
$randomColor2 : #4ea786;

$white : #ffffff;
$black : #000000;

$mainFont : 'Poppins', sans-serif;


$mobileSize :40em;
$tabletSize :64em;
$desktopSize :80em;